@font-face {
    font-family: 'Primera';
    src: url('/assets/fonts/MILF____.TTF') format('truetype');
  }
  
  @font-face {
    font-family: 'Hueca';
    src: url('/assets/fonts/MILFHO__.TTF') format('truetype');
  }