@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .alineacion {
    @apply flex items-center justify-center;
  }
}

@layer base {
  @font-face {
    font-family: primera;
    src: url(/assets/fonts/MILF____.TTF);
  }
  @font-face {
    font-family: hueca;
    src: url(/assets/fonts/MILFHO__.TTF);
  }
}


