@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: 'Milford Condensed';
  src: url('/src/assets/fonts/MilfordCondensed.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

